@font-face {
  font-family: 'StardewValley';
  src: local('StardewValley'), url(./fonts/StardewValley.ttf) format('truetype');
}

@font-face {
  font-family: 'StardewValleyCaps';
  src: local('StardewValleyCaps'), url(./fonts/StardewValleyCaps.ttf) format('truetype');
}

@font-face {
  font-family: 'StardewValleyText';
  src: local('StardewValleyText'), url(./fonts/StardewValleyText.ttf) format('truetype');
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
